.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}

.btn-add {
  background-color: #0078d4;
  padding: 6px 12px;
  border-radius: 5px;
  color: white;
  border: none;
}

.search-box {
  padding: 6px 12px;
  width: 200px;
}
