<!-- NON-AC TABLES -->
<!-- <div class="table-card"
     *ngFor="let table of nonAcTables"
     [ngClass]="{'occupied': occupiedTables.has(table.name)}"
     (click)="openTable(table.name)">

    <div>{{ table.name }}</div>

    <div class="timer-text" *ngIf="occupiedTables.has(table.name)">
      {{ tableTimers[table.name] || '00:00:00' }}
    </div>

</div> -->


<!-- AC TABLES -->
<!-- <div class="table-card"
     *ngFor="let table of acTables"
     [ngClass]="{'occupied': occupiedTables.has(table.name)}"
     (click)="openTable(table.name)">

    <div>{{ table.name }}</div>

    <div class="timer-text" *ngIf="occupiedTables.has(table.name)">
      {{ tableTimers[table.name] || '00:00:00' }}
    </div>

</div> -->


<!-- <div class="dp-wrapper">
  <div class="table-card dp-card" (click)="openTable('DP')">
    D / P
  </div>
</div> -->

