<!-- src/app/layout/TableServe/table-serve.component.html -->
<div class="zone-card">
  <h2>Non AC</h2>
  <div class="tables-grid">
    <div class="table-card"
         *ngFor="let t of nonAcTables"
         [ngClass]="getStatusClass(t)"
         (click)="openTable(t)">
      <div class="table-name">{{ t }}</div>
      <div class="timer-badge" *ngIf="tableTimers[t]">
        ⏱ {{ tableTimers[t] }}
      </div>
    </div>

    <div class="table-card dp-card" (click)="openTable('DP')">D/P</div>
  </div>
</div>

<div class="zone-card">
  <h2>AC</h2>
  <div class="tables-grid">
    <div class="table-card"
         *ngFor="let t of acTables"
         [ngClass]="getStatusClass(t)"
         (click)="openTable(t)">
      <div class="table-name">{{ t }}</div>
      <div class="timer-badge" *ngIf="tableTimers[t]">
        ⏱ {{ tableTimers[t] }}
      </div>
    </div>

    <div class="table-card dp-card" (click)="openTable('DP')">D/P</div>
  </div>
</div>
